<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Quiz Application</title>
</head>

<body>
    <header>
        <h1>Quiz Application</h1>
        <p>Test your knowledge with our interactive quizzes!</p>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        {% if 'username' in session %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
        <a href="/quiz">Start Quiz</a>
        <a href="/results"> Results</a>
    </nav>
    <main>
        <form id="quiz-form">
            {% for quiz in quizzes %}
            <h2>Question {{ loop.index }}</h2>
            <p>{{ quiz.question }}</p>
            {% for option, text in [('a', quiz.option_a), ('b', quiz.option_b), ('c', quiz.option_c), ('d', quiz.option_d)] %}
            <input type="radio" id="q{{ quiz.id }}{{ option }}" name="q{{ quiz.id }}" value="{{ option }}" required>
            <label for="q{{ quiz.id }}{{ option }}">{{ option }}) {{ text }}</label><br>
            {% endfor %}
            {% endfor %}
        <button type="submit" value="submit">Submit</button>
        </form>


    </main>
    <footer>
        <p>&copy; 2026 Quiz Application. All rights reserved.</p>
    </footer>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>